# RICE-VIRT-DATA-PT-05-2022-U-B-MW Module 17 Challenge

## Code Summary
- **Purpose  :** Import & analysis of PostgreSQL exported table 
- **Created  :** 2022 Aug 31 21:26:20 UTC (Meghan E. Hull)
- **Modified :** 2022 Aug 31 23:07:12 UTC (Meghan E. Hull)

## Dependencies

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
!python --version

Python 3.7.13

In [3]:
!conda list | findstr numpy

numpy                     1.21.5           py37h7a0a035_1
numpy-base                1.21.5           py37hca35cd5_1
numpydoc                  1.2                pyhd3eb1b0_0

In [4]:
!conda list | findstr pandas

pandas                    1.3.5            py37h6214cd6_0

## Inputs

In [5]:
vine_pd=pd.read_csv('./Data/vine_table.csv')
vine_pd.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
5,R3AQQ4YUKJWBA6,1,0,0,N,Y
6,R2F0POU5K6F73F,5,0,0,N,Y
7,R3VNR804HYSMR6,5,0,0,N,Y
8,R3GZTM72WA2QH,5,0,0,N,Y
9,RNQOY62705W1K,4,0,0,N,Y

# Analyze Vine Data

In [6]:
# Find reviews with 20+ total_votes
vine20_df = vine_pd[vine_pd["total_votes"]>=20]

# Report count
print(f'Reviews with 20+ votes: {vine20_df["total_votes"].count()} of {vine_pd["total_votes"].count()}')
print('')
vine20_df.head(5)

Reviews with 20+ votes: 65379 of 1785997

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [7]:
# Find where the number of helpful_votes divided by total_votes is equal to or greater than 50%
vineHelp_df = vine20_df[vine20_df["helpful_votes"]/vine20_df["total_votes"]>=0.5]

# Report count
print(f'Reviews with at least 50% helpful votes: {vineHelp_df["total_votes"].count()} of {vine20_df["total_votes"].count()}')
print('')
vineHelp_df.head(5)

Reviews with at least 50% helpful votes: 40565 of 65379

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [8]:
# Find where a review was written as part of the Vine program (paid), vine == 'Y'
vinePaid_df = vineHelp_df[vineHelp_df["vine"]=='Y']

# Report count
print(f'Reviews with paid helpful votes: {vinePaid_df["total_votes"].count()} of {vineHelp_df["total_votes"].count()}')
print('')
vinePaid_df.head(5)

Reviews with paid helpful votes: 94 of 40565

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [9]:
# Find where a review was NOT written as part of the Vine program (paid), vine == 'N'
vineUnpaid_df = vineHelp_df[vineHelp_df["vine"]=='N']

# Report count
print(f'Reviews with unpaid helpful votes: {vineUnpaid_df["total_votes"].count()} of {vineHelp_df["total_votes"].count()}')
print('')
vineUnpaid_df.head(5)

Reviews with unpaid helpful votes: 40471 of 40565

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [45]:
# Determine the total number of reviews, the number of 5-star reviews, 
# and the percentage of 5-star reviews for the two types of review (paid vs unpaid)
vine_summary_df=pd.DataFrame(
    {"Paid": [vinePaid_df["total_votes"].count(), 
              vinePaid_df[vinePaid_df["star_rating"]>=5]["total_votes"].count(),
              vinePaid_df[vinePaid_df["star_rating"]>=5]["total_votes"].count()/vinePaid_df["total_votes"].count(),
              vinePaid_df[vinePaid_df["star_rating"]>=5]["total_votes"].count()/vineHelp_df["total_votes"].count()],
     "Unpaid": [vineUnpaid_df["total_votes"].count(), 
              vineUnpaid_df[vineUnpaid_df["star_rating"]>=5]["total_votes"].count(),
              vineUnpaid_df[vineUnpaid_df["star_rating"]>=5]["total_votes"].count()/vineUnpaid_df["total_votes"].count(),
              vineUnpaid_df[vineUnpaid_df["star_rating"]>=5]["total_votes"].count()/vineHelp_df["total_votes"].count()]
    },
    index = ["Total Number of Reviews", "Total 5 Star Reviews", "Percentage 5 Star (Subset)","Percentage 5 Star (Total Helpful)"]
)

# Format DataFrame
vine_summary_df.loc["Total Number of Reviews"]=vine_summary_df.loc["Total Number of Reviews"].map("{:.0f}".format)
vine_summary_df.loc["Total 5 Star Reviews"]=vine_summary_df.loc["Total 5 Star Reviews"].map("{:.0f}".format)
vine_summary_df.loc["Percentage 5 Star (Subset)"]=vine_summary_df.loc["Percentage 5 Star (Subset)"].map("{:.2%}".format)
vine_summary_df.loc["Percentage 5 Star (Total Helpful)"]=vine_summary_df.loc["Percentage 5 Star (Total Helpful)"].map("{:.2%}".format)

vine_summary_df

                                     Paid  Unpaid
Total Number of Reviews                94   40471
Total 5 Star Reviews                   48   15663
Percentage 5 Star (Subset)         51.06%  38.70%
Percentage 5 Star (Total Helpful)   0.12%  38.61%